/deep-learning-in-practice-with-pytorch/dlwpt-code/
/deep-learning-in-practice-with-pytorch/docs/
/deep-learning-in-practice-with-pytorch/images and videos/
/deep-learning-in-practice-with-pytorch/understanding-deep-learning/
/deep-learning-in-practice-with-pytorch/vincent-guige-deep-learning/
/deep-learning-in-practice-with-pytorch/2024/
/deep-learning-in-practice-with-pytorch/*.pdf
/optimization-methods-for-artificial-intelligence/2023/
/optimization-methods-for-artificial-intelligence/docs
/optimization-methods-for-artificial-intelligence/images
/optimization-methods-for-artificial-intelligence/scripts
/optimization-methods-for-artificial-intelligence/*.pdf
/2024-inrae-model-data-researcher-school/*.pdf
/2024-inrae-model-data-researcher-school/_links.txt
/deep-learning-in-practice-with-pytorch/deep-learning-workshop
deep-learning-in-practice-with-pytorch/_template-inrae-personalized.pptx
*.gz
deep-learning-in-practice-with-pytorch/_my_scripts/MNIST/raw/t10k-images-idx3-ubyte
deep-learning-in-practice-with-pytorch/_my_scripts/MNIST/raw/t10k-labels-idx1-ubyte
deep-learning-in-practice-with-pytorch/_my_scripts/MNIST/raw/train-images-idx3-ubyte
deep-learning-in-practice-with-pytorch/_my_scripts/MNIST/raw/train-labels-idx1-ubyte
/deep-learning-in-practice-with-pytorch/gabriele-ciravegna
/deep-learning-in-practice-with-pytorch/_my_scripts/generated
deep-learning-in-practice-with-pytorch/_my_scripts/.ipynb_checkpoints/DLLP_4_CNN_visualization-checkpoint.ipynb
deep-learning-in-practice-with-pytorch/_my_scripts/.ipynb_checkpoints/DLLP_5_recurrent_neural_networks-checkpoint.ipynb
deep-learning-in-practice-with-pytorch/_my_scripts/.ipynb_checkpoints/DLLP_6_sequence_to_sequence-checkpoint.ipynb
deep-learning-in-practice-with-pytorch/_my_scripts/.ipynb_checkpoints/DLLP_6_Word2Vec-checkpoint.ipynb
deep-learning-in-practice-with-pytorch/_my_scripts/.ipynb_checkpoints/DLLP_seq2seq-checkpoint.ipynb
/deep-learning-in-practice-with-pytorch/_my_scripts/data
/deep-learning-in-practice-with-pytorch/_my_scripts/wikivec2text
/deep-learning-in-practice-with-pytorch/_my_scripts/my_great_runs
/deep-learning-in-practice-with-pytorch/alphafold-lecture-slides
deep-learning-in-practice-with-pytorch/dllp-tonda-2024.zip
/deep-learning-in-practice-with-pytorch/pietro-deep-learning
/optimization-methods-for-artificial-intelligence/2024
/optimization-methods-for-artificial-intelligence/Gabriela Ochoa
/deep-learning-in-practice-with-pytorch/2024-b
deep-learning-in-practice-with-pytorch/_my_scripts/.ipynb_checkpoints/pytorch-classification-checkpoint.py
/deep-learning-in-practice-with-pytorch/_my_scripts/.ipynb_checkpoints
