/deep-learning-in-practice-with-pytorch/dlwpt-code/
/deep-learning-in-practice-with-pytorch/docs/
/deep-learning-in-practice-with-pytorch/images and videos/
/deep-learning-in-practice-with-pytorch/understanding-deep-learning/
/deep-learning-in-practice-with-pytorch/vincent-guige-deep-learning/
/deep-learning-in-practice-with-pytorch/2024/
/optimization-methods-for-artificial-intelligence/2023/
/optimization-methods-for-artificial-intelligence/docs
/optimization-methods-for-artificial-intelligence/images
/optimization-methods-for-artificial-intelligence/scripts
/optimization-methods-for-artificial-intelligence/*.pdf
/2024-inrae-model-data-researcher-school/*.pdf
/2024-inrae-model-data-researcher-school/_links.txt
/deep-learning-in-practice-with-pytorch/deep-learning-workshop
